body{
    background-color: #394867;
}
p{

    color:#9BA4B5;
    margin-left:8%;
}

h3{
    margin-left:8%
}
button{

    margin-left:5%;
    border:none;
    text-align: center;
    background-color: #9BA4B5;
  
}
.b1{

    margin-left:40%;
}
a{
    
    margin-left:8%;
    text-decoration: none;


}
